@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
:root {
  height: 100%;
}

body {
  @apply bg-lightGrayishCyan;
  display: grid;
  justify-content: center;

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Space Mono", monospace;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.inputStyle {
  @apply w-full text-veryDarkCyan bg-veryLightGrayishCyan py-1 rounded-md text-2xl px-5 focus:border-2 box-border focus:border-green-600;
  direction: rtl;
}

img {
  @apply absolute top-1/2 left-7 -translate-x-1/2 -translate-y-1/2;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
